@import "vars";

ul#comments, ul.latest_comments {
	padding-left: 15px;
	li {
		border: solid thin $bg;
		list-style: none;
		padding: 5px;
		width: 100%;
		min-height: 120px;
		
		
		h3 {
				display: inline;
				font-size: 1.75em;
		}
		
		p {
			padding: 0;
			margin: 0.3em;
			
			&.date {
				font-style: italic;
				font-size: 0.8em;
			}
		}
	}
}

img.avi {
	float: left;
	max-height: 200px;
	max-width: 100px;
	margin-right: 10px
}