// Place all the styles related to the Media controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "vars";

p#title {
	img {
		float: left;
	}
}

.status {
	float: left;
	display: inline;
}

.display_file {
	float: left;
	padding: 10px;
	display: block;
	width: 100%;
	text-align: center;
	
	iframe {
		float: left;
		width: 97%;
		min-height: 600px;
	}
}

.file_description {
	float: left;
	width: 95%;
	padding-left: 5%;
}
.stat {
	width: 45%;
	float: left;
	padding: 10px;
	position: relative;
	display: block;
	clear: right;
	word-wrap:break-word;
}
ul#links {
	width: 100%;
}

ul#links, ul#edit {
	padding: 0;
	list-style: none;
	position: relative;
	float: left;
	display: block;
	border-top: thin solid $bg;
	
	textarea {
		height: 24px;
		width: 90%;
	}
}

ul#versions {
	float: left;
	
	img {
		width: 200px;
	}
}



/* Index */
ul.all_files {
	float: left;
	width: 100%;
	li {
		width: 20%;
		float: left;
		margin: 1%;
		img {
			max-width: 100%;
		}
	}
}