// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "vars";
ul#comics {
	
	li {
		float: left;
		width: 28%;
		min-width: 160px;
		padding: 1%;
		margin: 1%;
		margin-bottom: 2%;
		border: solid thin white;
		background-image: linear-gradient(bottom, rgb(180,197,179) 23%, rgb(240,246,240) 62%);
		background-image: -o-linear-gradient(bottom, rgb(180,197,179) 23%, rgb(240,246,240) 62%);
		background-image: -moz-linear-gradient(bottom, rgb(180,197,179) 23%, rgb(240,246,240) 62%);
		background-image: -webkit-linear-gradient(bottom, rgb(180,197,179) 23%, rgb(240,246,240) 62%);
		background-image: -ms-linear-gradient(bottom, rgb(180,197,179) 23%, rgb(240,246,240) 62%);
	}
	
}
ul#latest_comments {
	float: left;
	width: 40%;
	
	li {
		border: solid thin white;
		img {
			max-width: 200px;
		}
	}
}
ul#latest_files {
	float: left;
	width: 40%;
	li {
		width: 45%;
		float: left;
		margin: 1%;
		img {
			max-width: 100%;
		}
	}
}
ul#categories {
	clear: both;
	padding: 1%;
	li {
		padding: 5px;
		margin: 1%;
		list-style: none;
		border: solid thin $text;
		float: left;
		background: $bg;
		display: block;
		width: 90%;
	}
}

p.description {
	font-style: italic;
	clear: both;
}

#task {
	width: 45%;
	padding: 2%;
	float: left;
}

#comment {
	width: 45%;
	padding: 2%;
	float: left;
}