// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "vars";
ul.explain {
	list-style: circle;
	padding-left: 35px;
}
ul#tasks {
	list-style: none;
	padding-left: 0;
	
	h4 {
		clear: none;
		float: left;
	}
	
	details {
		border: solid thin $bg ;
		padding-left: 10px;
		
		summary {
			border-bottom: solid thin $bg ;
		}
		
		.field {
			float: left;
			padding: 5px;
		}
		
		.action {
			float: right;
		}
	}
}