// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "vars";
img.avi {
	float: left;
}
.user_info {
	float: left;
	padding: 15px;
	clear: right;
}

.module {
	width: 42%;
	padding: 3%;
	padding-bottom: 5%;
	float: left;
	position: relative;
	
	ul {
		width: 100%;
		list-style: none;
		
		&#user_media{
			width: 90%;
			li {
				width: 46%;
				float: left;
				padding: 2%;
				img {
					max-width: 100%;
				}
			}
		}
	}
	
	
}

table#users {
	img {
		width: 50px;
		height: auto;
	}
	
	tr {
		border-bottom: solid thin $text;
		

		td {
			padding-right: 6px;
			padding-left: 6px;
		}

		td#avi {
			padding-left: 0;
		}
	}
	
	tr.Admin {
		background-color: $admin_yellow;
	}
	
	tr.Regular{
		&:nth-child(odd) {
			background-color: $bg;
		}
		
		&:nth-child(even) {
			background-color: $bg_dark;
		}
		
	}
	tr.Retired{
		background-color: $retired_blue;
		
	}
	tr.Banned{
		background-color: $banned_red;
	}
}